
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
  background-color: #000000;
}


header {
  background-image: url(https://i.pinimg.com/originals/1c/fd/74/1cfd746c9a99c2b6ad1bb51312986bcf.gif);
  background-repeat: no-repeat;
    background-size: cover;
  color: white;
  text-align: center;
  padding: 1.5rem;
}

header h1 {
  font-size: 2rem;
}

header h2 {
  font-weight: normal;
  font-size: 1rem;
  margin-top: 0.5rem;
}


main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  max-width: 1200px;
  margin: auto;
}


section {
  background-color: rgba(36, 24, 75, 0.803);
  padding: 1.5rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  text-align: center;
  color: white;
}

section h3 {
  margin-bottom: 1rem;
  color: #d677cc;
}


#Guias > div {
  margin-bottom: 1.5rem;
  padding: 1rem;
  background-color: #70159e;
  color: white;
}

#Guias a {
  display: inline-block;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  color: hsl(305, 100%, 85%);
  text-decoration: none;
  font-weight: bold;
}

#Guias a:hover {
  text-decoration: underline;
}


#FODA {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

#FODA h3 {
  width: 100%;
  margin-bottom: 1rem;
    color: #cbabdb;
    font-size: 1.5rem;
}

#FODA p {
  flex: 1 1 45%;
  background-color: #70159e;
  padding: 1rem;
  color: white;
  transition: all 0.3s ease;
}

#FODA p:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgb(255, 255, 255);
  background-color: #e199fb;
  cursor: pointer;
  color: rgb(48, 19, 95);
  font-weight: bold;
}

/* Media Queries */
@media (max-width: 768px) {
  main {
    padding: 1rem;
  }

  #FODA p {
    flex: 1 1 100%;
  }

  header h1 {
    font-size: 1.5rem;
  }

  header h2 {
    font-size: 1rem;
  }
}