

@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epunda+Slab:ital,wght@0,300..900;1,300..900&display=swap');



body{
    background-color: rgb(237, 201, 237);
}

header{
    background-color: rgba(78, 116, 230, 0.482);
    background-image: url(../img/fondo.png);
    padding: 20px 0;
    text-align: center;
}

header h1{
    font-size: 50px;
    color: rgb(116, 36, 138);
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

header nav a{
    text-decoration: none;
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: small;
    color: bisque;
}

header nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.main {
    text-align: center;
    background-color: rgba(102, 102, 232, 0.547);
    width: 75%;
    margin: 20px auto;
    padding: 20px;
}

.main img{
    margin: 0 auto;
    display: block;
    width: 300px;
    height: auto;
}

.main h3{
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(44, 4, 41);
}

.main p{
    font-family: "Epunda Slab", serif;
    font-optical-sizing: auto;
    font-weight:normal;
    font-style: normal;
    font-size: medium;
    text-align: center;
}

#personajes ul {
    list-style: none;
}

#tabla{
    margin: 20px auto;
    border:0.5px solid rgb(255, 255, 255);
}

#tabla *{
    border:0.5px solid rgb(255, 255, 255);
    padding: 10px;
}

#tabla thead{
    background-color:rgb(120, 49, 120);
    color: rgb(217, 208, 208)
}

footer{
    background-color: rgba(28, 31, 67, 0.521);
    color: beige;
    text-align: center;
    font-size: medium;
}